---
layout: blog
title: Toulouse Republicana
---

<h1 id="articulos"> </h1>
  <ul class="posts">
    {% for post in site.posts %}
   <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
   <p><span>{{ post.date | date_to_string }}</span> </p>
       {{ post.content }}
    {% endfor %}
  </ul>


  
 <h1 id="otros">Otros</h1>
  <ul class="posts">
    {% for post in site.posts %}
    {% if post.type == "minor" %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
     {% endif %}
    {% endfor %}
  </ul> 
  
