{% assign booking = site.data.booking %}

<div class="row text-xs-center mb-1">
  <div class="col-xs">
    <h1>{{ booking.heading.[page.lang] | escape }}</h1>
  </div>
</div>

<div class="row">
   <div class="col-xs-12">
	   {{ site.data.booking.freetour.[page.lang] }}
	</div>
</div>

<div class="row text-xs-center">
   <div class="col-xs-12 text-xs-center">
	   <p>{{ site.data.booking.text1.[page.lang] }}</p>
	</div>
</div>

<div class="row text-xs-center">
   <div class="col-xs-12 text-xs-center">
	   <p>{{ site.data.booking.text2.[page.lang] }}</p>
	</div>
</div>


<div class="row text-xs-center">
   <div class="col-xs-12 text-xs-center">
  
		<form action="https://api.formbucket.com/f/buk_En5EyNNJ1S57owLu34AJ690O" method="POST">

		  <div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input id="name" type="text" class="form-control" name="name" placeholder="{{ site.data.booking.name.[page.lang] }}" required>
		  </div>
			<br>

		  <div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			<input id="lastname" type="text" class="form-control" name="lastname" placeholder="{{ site.data.booking.lastname.[page.lang] }}" required>
		  </div>
		  <br>
			
		  <div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			<input id="email" type="text" class="form-control" name="email" placeholder="{{ site.data.booking.email.[page.lang] }}"  required>
		  </div>
			<br>

		  <div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			  <input id="email_repeat" type="text" class="form-control" name="email_repeat" placeholder="{{ site.data.booking.repeat.[page.lang] }}" required>
			</div>
		   <br>

		  <div class="input-group">
			  <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
			  <input id="phone" type="text" class="form-control" name="phone" placeholder="{{ site.data.booking.phone.[page.lang] }}">
			</div>
		   <br>

		  <div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
			  <input id="number" type="number" class="form-control" name="number" min="0" max="10" placeholder="{{ site.data.booking.people.[page.lang] }}" required>
			</div>
		   <br>	
		   

		  <div id="datepicking" class="input-group date" data-provide="datepicker">
			  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
			  <input id="date" type="text" class="form-control" name="date" placeholder="{{ site.data.booking.date.[page.lang] }}" readonly required>
		  </div>	
		  
		   <br>
			<button type="submit" class="btn btn-secondary"><b>{{ site.data.booking.book.[page.lang] }}</b></button>
		</form>
   </div>
</div>
		
<div class="row text-xs-center text-md-right">
		<div class="col-xs-12"><i class="fa fa-file-text-o" aria-hidden="true"></i>  <a href="{{ site.url }}/{{ page.lang }}/terms.html" target="_blank"> {{ site.data.booking.terms.[page.lang] }}</a> </div>
</div>


<script>
	


<!-- bootstrap-datepicker
$('#datepicking').datepicker({
	    container: "body",
	    startDate: "14/04/2018",
		beforeShowDay: function (date){
			disabled = {{ site.data.special_dates.disabled | jsonify }};
			enabled = {{ site.data.special_dates.enabled | jsonify }};
			current =  date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
			
			// If date in enabled dates
			  if (enabled.indexOf(current) > -1){
					return {
					  enabled: true
					}
			  }
			  
			// If date in disabled dates
			  if (disabled.indexOf(current) > -1){
					return {
					  enabled: false
					}
			  }
			  
			  if (current == "31/3/2018"){
					return {
					  tooltip: '¡Viva la República!',
					  enabled: true
					}	
			  }

			 // By default, activate saturdays and desactivate sundays
			  if (date.getDay() == 6){
					return {
					  enabled: true
					}
			  }
			  if (date.getDay() != 6){
					return {
					  tooltip: 'Example tooltip',
					  enabled: false	  
					}	
			  }
		},
        weekStart: 1,
        maxViewMode: 0,
        language: {{ page.lang | jsonify }},
        daysOfWeekHighlighted: "6",
        datesDisabled: {{ site.data.dates_disabled.dates_disabled | jsonify }},
        autoclose: false,
        todayHighlight: true
});

<!-- bootstrap-datepicker
$('#datepickingOLD').datepicker({
	    container: "body",
		beforeShowDay: function (date){
		  if (date.getMonth() == 3)
			switch (date.getDate()){
			  case 4:
				return {
				  tooltip: 'Example tooltip',
				  classes: 'active',
				  
				};
			  case 18:
				return "active";
			  case 12:
				   return {
					tooltip: 'Example tooltip',
					classes: 'active',
				  
				};
		  }
		},
        weekStart: 1,
        maxViewMode: 0,
        language: {{ page.lang | jsonify }},
        startDate: "today",
        daysOfWeekDisabled: "1,2,3,4,0",
        daysOfWeekHighlighted: "6",
        datesDisabled: {{ site.data.dates_disabled.dates_disabled | jsonify }},
        autoclose: true,
        todayHighlight: true
});
 




$('form').on('submit',function(){
   if($('#email').val()!=$('#email_repeat').val()){
       alert('Emails no coinciden');
       return false;
   }
   return true;
});

$('form').on('submit',function(){
   if($('#date').val() == ''){
       alert('Fecha no válida. Elige entre una de las fechas disponibles.');
       return false;
   }
   return true;
});


</script>    


