{% assign booking = site.data.booking %}

<div class="row text-xs-center mb-1">
  <div class="col-xs">
    <h1>{{ booking.heading.[page.lang] | escape }}</h1>
  </div>
</div>

<div class="row text-xs-center">
   <div class="col-xs-12 text-xs-center">
	</div>
</div>

       
<form action="http://formspree.io/alberto.lumbreras@gmail.com" method="POST">

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="name" type="text" class="form-control" name="name" placeholder="Nombre y apellido">
  </div>
    <br>
    
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
  </div>
    <br>

  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input id="email_repeat" type="text" class="form-control" name="email_repeat" placeholder="Repita el email">
    </div>
   <br>

  <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
      <input id="number" type="number" class="form-control" name="number" min="0" max="10" placeholder="Número de personas">
    </div>
   <br>

  <div class="input-group date" data-provide="datepicker">
      <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
      <input id="date" type="date" class="form-control" name="date" placeholder="Fecha">
    </div>
   <br>
       
  <button type="submit" class="btn btn-default">Reserva</button> 

</form>

<div class="input-group date" data-provide="datepicker">
    <input type="date" class="form-control">
    <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
    
    <script>
    $('#sandbox-container div').datepicker({
        daysOfWeekDisabled: "1,2,3,4,5",
        daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true
    });
</script>
    
</div>
    
<script>
    $('#sandbox-container div').daaatepicker({
        daysOfWeekDisabled: "1,2,3,4,5",
        daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true
    });
</script>

