{% assign header = site.data.header %}
<header>	
<div class="container">
	
	<div class="row text-xs-center mb-1">
	  <div class="col-xs">
		<h1 id="title">{{ header.heading.[page.lang] | escape }}</h1>
		<p class="lead">{{ header.lead.[page.lang] | escape }}</p>
	  </div>
    </div>
    
  <div class="row text-xs-center abstract">
    <div class="col-xs-12">
		<strong>{{ header.abstract.[page.lang] }}</strong>
    </div>
  </div>
    
    <div class="row text-xs-center mb-1">
	  <div class="col-xs-12">	 
	   <p class="text-xs-left">{{ header.about.[page.lang] }}</p>
	  </div>  
    </div>

</div>
</header>
