<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:image" content="http://www.tour.toulouserepublicana.com/img/flyer.jpg"/>
  <meta property="og:title" content="Tour Toulouse Republicana"/>
  <meta property="og:url" content="http://www.tour.toulouserepublicana.com/"/>
  <meta property="og:type" content="website"/>
  
  <meta name="robots" content="index, follow">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ site.google_font_sans_serif }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/blueimp-gallery/2.15.0/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  
  <script src="https://use.fontawesome.com/4334a88e8b.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/css/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>


  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

  <noscript><style>.js-only { display: none; }</style></noscript>

</head>
