{% capture nav_prefix %}/{{ page.lang }}/{% endcapture %}
<nav class="navbar navbar-light bg-faded navbar-fixed-top">
  <div class="container">
	  
	  
	 <ul class="nav navbar-nav float-xs-left">
      <li class="nav-item">
		  <span><a  class="nav-link" href="https://www.facebook.com/toulouserepublicana/"><i class="fa fa-facebook"></i></a></span>
		  <span><a  class="nav-link" href="https://www.tripadvisor.fr/Attraction_Review-g187175-d12351137-Reviews-Tour_Toulouse_Republicana-Toulouse_Haute_Garonne_Occitanie.html"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></span>
      </li>
    </ul>

	
	<!-- Language selector -->
    <ul class="nav navbar-nav float-xs-right" id="lang-select">
      {% capture lang_lc %}{{ lang | downcase }}{% endcapture %}
      {% for lang in site.languages %}
      {% if lang != page.lang %}
        {% capture page_lang %}/{{ page.lang }}/{% endcapture %}
        {% capture lang_lo %}/{{ lang | downcase }}/{% endcapture %}
        {% capture href %}{{ page.url | replace : page_lang, lang_lo }}{% endcapture %}
        {% capture href %}{{ href | replace : '.html', '' }}{% endcapture %}
      <li class="nav-item"><a class="nav-link lang" onclick="scrollAwareHRef($(this), '{{ href }}')" href="{{ href }}">{{ lang | upcase }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    
      
   
  
      <!-- Sections -->
    <div class="collapse navbar-toggleable-xs">
      <ul class="nav navbar-nav float-xs-right">
        <li class="nav-item"><a class="nav-link" href="{{site.url}}/{{ page.lang }}/#">{{ site.data.header.shortheading.[page.lang] | escape }}</a></li>		  
        <li class="nav-item"><a class="nav-link" href="{{site.url}}/{{ page.lang }}/#places">{{ site.data.places.heading.[page.lang] | escape }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{site.url}}/{{ page.lang }}/#booking">{{ site.data.booking.heading.[page.lang] | escape }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{site.url}}/{{ page.lang }}/#about">{{ site.data.about.heading.[page.lang] | escape }}</a></li>
      </ul>
    </div>
  
      <!-- Dropdown menu only for mobile -->
    <button type="button" class="navbar-toggler hidden-sm-up float-xs-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu dropdown-menu-right">
	  <a class="dropdown-item" href="{{ site.url }}/{{ page.lang }}/#">{{ site.data.header.shortheading.[page.lang] | escape }}</a>
      <a class="dropdown-item" href="{{ site.url }}/{{ page.lang }}/#places">{{ site.data.places.heading.[page.lang] | escape }}</a>
      <a class="dropdown-item" href="{{ site.url }}/{{ page.lang }}/#booking">{{ site.data.booking.heading.[page.lang] | escape }}</a>
      <a class="dropdown-item" href="{{ site.url }}/{{ page.lang }}/#about">{{ site.data.about.heading.[page.lang] | escape }}</a>
    </div>
  
  </div>
</nav>
