<div class="row text-xs-center">
  <div class="col-xs">
    <h1>{{ site.data.places.heading.[page.lang] | escape }}</h1>
  </div>
</div>


<div class="row">
	<div class="col-lg-3 offset-lg-1 col-xs-12">
		<p><i class="fa fa-clock-o" aria-hidden="true"></i>  <b>{{ site.data.places.duration.[page.lang] }}:</b> {{ site.data.places.duration.desc.[page.lang] }}</p>
		<p><i class="fa fa-headphones" aria-hidden="true"></i></span> <b>{{ site.data.places.language.[page.lang] }}:</b> {{ site.data.places.language.desc.[page.lang] }} </p>
	</div>
	<div class="col-lg-8 col-xs-12">
		<p><span><i class="fa fa-subway" aria-hidden="true"></i></span> <b>{{ site.data.places.start.[page.lang] }} :</b> {{ site.data.places.start.desc.[page.lang] }}</p>
		<p><span><i class="fa fa-subway" aria-hidden="true"></i></span> <b>{{ site.data.places.end.[page.lang] }}:</b> {{ site.data.places.end.desc.[page.lang] }}</p>
	</div>
</div>

<div class="row">
	 <div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
		<img  class="rounded img-fluid" src="{{ site.url }}/img/map.jpg">
	 </div>
</div>
<br>
<br>

{% assign places = site.data.places.places | reverse %}
{% for p in places reversed %}

<div class="row">
  
  <div class="col-lg-2 col-sm-3">
    {% assign thumbnail_src = p.thumbnail %}
    {% assign thumbnail_alt = p.title.[page.lang] %}
    {% include thumbnail.html %}
  </div>
  <div class="hidden-sm-up mb-1 col-xs"></div>
  
  <div class="col-lg-10 col-sm-9">
    <h5>{{ p.title.[page.lang] | escape }}</h5>
    <p> {{ p.description.[page.lang]  }} </p>

  </div>
</div>
{% endfor %}
