<div class="row text-xs-center">
  <div class="col-xs">
    <h1>{{ site.data.places.heading.[page.lang] | escape }}</h1>
  </div>
</div>


<div class="row">
	<div class="col-xs-6">
		<p><i class="fa fa-clock-o" aria-hidden="true"></i>  <b>Duración:</b> 2 h aprox.</p>
		<p><i class="fa fa-headphones" aria-hidden="true"></i></span> <b>Idioma:</b> Castellano </p>
	</div>
	<div class="col-xs-6">
		<p><span><i class="fa fa-subway" aria-hidden="true"></i></span> <b>Inicio:</b> Metro Saint-Cyprien République (línea A)</p>
		<p><span><i class="fa fa-subway" aria-hidden="true"></i></span> <b>Fin:</b> Metro François Verdier (línea B)</p>
	</div>
</div>

<div class="row">
  	 <div class="col-xs-8 col-xs-offset-2 text-xs-center">
		<img  class="rounded img-fluid" src="{{ site.url }}/img/map.jpg">
	 </div>
</div>
<br>
<br>

{% assign places = site.data.places.places | reverse %}
{% for p in places reversed %}

<div class="row">
  
  <div class="col-lg-2 col-sm-3">
    {% assign thumbnail_src = p.thumbnail %}
    {% assign thumbnail_alt = p.title %}
    {% include thumbnail.html %}
  </div>
  <div class="hidden-sm-up mb-1 col-xs"></div>
  
  <div class="col-lg-10 col-sm-9">
    <h5>{{ p.title | escape }}</h5>
    <p> {{ p.description  }} </p>

  </div>
</div>
{% endfor %}
