<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navbar.html %}

<section id="banner" class="container-flex">
	<div class="hidden-xs">
	<img src="{{ site.url }}/img/banner_garona_rep.jpg" 
	style = 
"position: relative;
margin: 0px auto;
width: 100%;
height: 100%;
z-index: 1;">
</div>

	<div class="visible-xs">
	<img src="{{ site.url }}/img/banner_garona_rep_small.jpg" 
	style = 
"position: relative;
margin: 0px auto;
width: 100%;
height: 200px;
z-index: 1;">
</div>

</section>  

<div class="container">
<div class="row">
  <div class="col-xs-8 center-block">
		{{ content }}
  </div>
</div>
</div>

<section id="footer">
{% include footer.html %}
</section>

{% include scripts.html %}

</body>
</html>
