
<!DOCTYPE html>
<html lang="{{ page.lang }}">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include navbar.html %}

<section id="banner" class="container-flex">
	<img  class="rounded img-fluid" src="{{ site.url }}/img/banner_garona_rep.jpg" 
	      style = "height:350px; background-size: cover; background-position: center; width: 100%;">
</section>

<section id="header" class="container">
{% include header.html %}
</section>

<section id="places" class="container">
{% include places.html %}
</section>

<section id="booking" class="container">
{% include booking.html %}
</section>

<section id="about" class="container">
{% include about.html %}
</section>

<section id="footer">
{% include footer.html %}
</section>

{% include scripts.html %}

</body>
</html>
